a {
  text-decoration: none;
}

a:link {color:#0000CD;}
a:visited {color:#55198B;}
a:hover {color:#FF8A01;}
a:active {color:#73E0D1;}

article {
  padding-top: 100px;
}

body {
  background-color: #f6f1c1;
  color: #000000;
  font-size: 16px;
}

/*ALL FONTS HERE FOR QUICK EDITING*/

h1 {
  font-size: 2em;
  line-height: 1.25;
}

h3 {
  font-size: 1.5em;
  line-height: 1.3;
}

figcaption {
  font-size: 0.75em;
  line-height: 1.2;
}

p {
  font-size: 1em;
  line-height: 1.5;
}

/*saving comment section here in case they reject submission because they want request "2)...all fonts to have font sizes to be in the same location" literally in one element line location etc.

h1, h3, figcaption, p {
  font-size: 2em;
}

end comments*/

li {
  float: right;
  padding: 30px;
}

nav {
  background-color: rgba(255, 0, 0, 0.5);
  float: left;
  position: fixed;
  width: 100%;
}

ul {
  list-style-type: none;
  float: right;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.large-pic {
  width: 100%;
}

.left, .right {
  float: left;
  width: 50%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.medium-pic {
  width: 100%;
}

.right {
  float: right;
}
